body {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  overflow: hidden;
}

.slide {
  margin-top: 60px;
  display: flex;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
}
.botao {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}
