body {
  margin: 0;
  background: rgb(130, 133, 120);
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  overflow: hidden;
}

.slide {
  margin-top: 60px;
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
  transition: 0.4s;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  opacity: 0.8;
  transform: scale(0.8);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
#nav {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

#prev,
#next {
  font-size: 16px;
  font-family: monospace;
  background: rgb(211, 100, 100);
  border: 1px solid;
  border-radius: 5px;
  height: 30px;
}
